<header class="app-header {{device}}">
  <mat-toolbar class="app-top-nav" color="primary">
    <button title="home" mat-icon-button routerLink="/">
      <span class="material-icons">home</span>
    </button>
    &nbsp;
    <div class="header-title" routerLink="home">
      <span class="app-name">{{appTitle.appName}}</span><span class="welcome-title"> -&nbsp; seja bem vindo</span>
    </div>
    <button title="home" mat-icon-button routerLink="/search">
      <span class="material-icons">search</span>
    </button>
    <!--
    <div routerLink="login" *ngIf="!sessionService.isLoggedIn" class="user-widget-wrap d-flex center"
      title="Click to login">
      <mat-icon class="user-img">perm_identity</mat-icon>
      <span class="user-title">Honorable Guest</span>
    </div>

    <div *ngIf="sessionService.isLoggedIn" class="user-widget-wrap d-flex center"
      [attr.title]="sessionService.user | json">
      <img class="user-img mr-8" *ngIf="sessionService.user?.imgUrl" [src]="sessionService.user?.imgUrl" alt="">
      <span class="user-title">{{ sessionService.user?.firstName + ' ' + sessionService.user?.lastName }}</span>
    </div>
    <button id="btn-logout" *ngIf="sessionService.isLoggedIn" routerLink="home" title="Logout" color="primary"
      class="mat-elevation-z0" aria-label="User logged in" (click)="sessionService.signout('/charts')" mat-mini-fab>
      <mat-icon>exit_to_app</mat-icon>
    </button>

    <button id="btn-login" *ngIf="!sessionService.isLoggedIn" routerLink="login" title="Login" color="primary"
      class="mat-elevation-z0" aria-label="Login" mat-mini-fab>

      <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color twin" aria-hidden="true"
        data-mat-icon-type="font">vpn_key</mat-icon>
      <mat-icon>person_outline</mat-icon>
    </button> -->
  </mat-toolbar>
</header>

<mat-sidenav-container class="page-main">
  <!--<mat-sidenav #sidenav [mode]="mode.value" [opened]="opened" class="app-side-nav">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  -->

  <mat-sidenav-content class="d-flex side-nav-container">
    <div class="flex page-main-content default-host" [ngClass]="hostClass">
      <router-outlet name="rxjslearning"></router-outlet>
      <router-outlet name="primary"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="side-panel-overlay" [ngClass]="{active: sideOverlayOutlet.isActivated}">
  <div class="forro"></div>
</div>
<div class="side-overlay-panel-content" [ngClass]="{active: sideOverlayOutlet.isActivated}">
  {{sideOverlayOutlet.activatedRouteData | json}}
  <button [routerLink]="['', {outlets: {'side-overlay-panel': null}}]">Close da bagaça</button>
  <router-outlet #sideOverlayOutlet="outlet" (activate)="onOverlayActivate($event)" name="side-overlay-panel">
  </router-outlet>
</div>

<mat-toolbar class="example-footer" color="primary">
  <span *ngIf="breakPoints?.small">Footer</span>
  <!--<app-mobile-footer *ngIf="!breakPoints?.small"></app-mobile-footer>-->
</mat-toolbar>
