.cards {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  mat-card {
    min-width: 280px;
    max-width: 420px;
  }
}
:host ::ng-deep {
  .mat-card-header .mat-card-title {
    font-family: Tangerine;
    font-size: 34px;
    font-weight: bold;
  }
  .mat-card > .mat-card-actions {
    display: flex;
  }
  button a {
    text-decoration: none;
  }
}
.d-flex {
  display: flex;
}
.preco {
  font-size: 23px;
  font-weight: 700;
  text-shadow: 4px 4px 22px;
  min-width: 100px;
  color: #fff;
  background-color: #f56401;
  padding: 0.25em;
  border-radius: 8px;
  transform: rotate(-38deg);
  margin-top: -26px;
  display: block;
  position: absolute;
  right: -21px;
  bottom: 135px;
}
